# Ignore the target directory, where compiled files are stored
/target

# Ignore intermediate files created by Cargo
**/*.rs.bk
/.cargo
/.rustup
*.log

# Ignoring debug or release builds
/target/debug
/target/release

# Ignoring Rust-specific tools and configs
/.idea
/.vscode
*.iml

# Exclude build artifacts, lock files, and binaries
Cargo.lock
*.dylib
*.so
*.dll
*.rlib

# Ignore artifacts of testing
/node_modules/
/.husky/
/package-lock.json
.DS_Store

# Ignore compiled css
/assets/css/
