/* Empty state styling */
.empty-state-box {
    background-color: var(--bg-darkest);
}

.empty-file-btn {
    background: none;
    border: none;
    margin: 0;
    padding: 0;

    &:hover {
        & label {
            color: var(--text-not-so-dim);
        }

        background: none;
        border: none;
    }
}

.empty-file-box {
    font-size: 24px;
    background: none;
    margin: 5px;
}

.empty-file-ctrl {
    color: var(--text-muted);
}