/* File tree styling */
.file-list {
    background: var(--bg-mid);
    margin: 5px;
    padding: 0;

    & > row {
        padding: 0;
        margin: 0;
        min-height: 16px;
        background-color: var(--bg-mid);

        &:hover {
            background-color: var(--bg-light);
        }

        &:hover * {
            background-color: var(--bg-light);
        }

        &:selected {
            background-color: var(--bg-light);
        }

        &:selected * {
            background-color: var(--bg-light);
        }

        &:hover:not(:selected) {
            background-color: var(--bg-hover);
        }

        &:hover:not(:selected) * {
            background-color: var(--bg-hover);
        }
    }

    & box {
        margin: 0;
        padding: 0;
        background-color: var(--bg-mid);
    }

    & label {
        padding: 4px 4px 4px 0;
        margin: 0 0 0 4px;
        text-align: left;
        background-color: inherit;
    }
}

.file-icon {
    margin: 0;
    padding-left: 5px;
    min-width: 16px;
    min-height: 16px;
    background-color: inherit;
}

.file-tree-container {
    background-color: var(--bg-darkest);
    border-right: 1px solid var(--border-dark);
}

.file-tree-outer {
    margin: 0 5px 5px;
    background-color: var(--bg-dark);
}

.file-tree-inner {
    background-color: var(--bg-mid);
}

.file-tree-header {
    background: var(--bg-dark);
    color: var(--text-bright);
}

.file-list-row {
    padding: 2px 5px;
    margin: 0;
    min-height: 16px;
    background-color: inherit;
} 